version: 2.1

orbs:
  node: circleci/node@4.1.0

jobs:
  test:
    executor:
      name: node/default
      tag: '15.1-browsers'

    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y libxss1
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn snapshot

workflows:
  test:
    jobs:
      - test